@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,500&display=swap');

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}

.logoText1 {
    font-size:26px;
}

.logoText2 {
    font-size:26px;
    color: #FFD530;
}

.storybook-logo--primary {
    color: white;
}

.storybook-logo--secondary {
    color: black;
}